div.navi {
		position: fixed;
		width: 1300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E1C49E;
    border: 2px solid #EDDAC0;
    border-radius: 22px; 
}

li {
    float: left;
}

a {
	display: block;
    color: #7E594C;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    
}

li a:hover {
			background-color: #F1D5B4;
			color: white;
}

div.titre {
		padding-top: 5%;
}

body {
	background-color: #EDDAC0;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

h1 {
	text-align: center;
	color: white;
	padding: 5px 0 5px 0;
	color: white;
	background-color: #F0C7AD;
	width: 40%;
	margin: 10px auto;
	border-radius: 30px; 
}

img	{
		display: block;
		margin: 2% auto auto auto;
		width: 22%;
		height: auto;
}

div.intro {
		display: flex;
		margin: 3% 3% auto 3%;
		padding: 5px 20px 5px 20px;
		justify-content: center;
		color: #7E594C;
		background-color: #F0C7AD;
		font-size: 20px;
		border: 4px dotted white;
		border-radius: 50px;
}

p.k, p.w {
	display: inline;
	text-align: justify;
}

p.k {
	margin-right: 15%;
	width: 40%;
}

p.w {
	width: 40%;
}

a.a {
	display: inline;
	padding: 0;
	text-decoration: underline dotted;
}

a.a:hover {
			color: white;
}

div.histoire {
			display: block;
			padding: 5px 30px 5px 30px;
			margin-top: 3%;
			margin-left: 8%;
			text-align: justify;
			justify-content: center;
			color: #7E594C;
			background-color: #F0C7AD;
			font-size: 20px;
			border: 4px dotted white;
			border-radius: 50px;
			width: 75%;
}

img.cafe {
		
		width: 20%;
}

div.exs {
		display: flex;
}

div.exemple1 {
			float: left;
			padding: 5px 30px 5px 30px;
			margin-top: 2%;
			margin-left: 8%;
			text-align: justify;
			justify-content: center;
			color: #7E594C;
			background-color: #E5C4A0;
			font-size: 20px;
			border: 4px dotted white;
			border-radius: 50px;
			width: 20%;
}

img.sprite {
			width: 50%;
			
			
}

img.sprite2 {
			width: 37%;
			margin-bottom: 4%;
			
}

div.exemple2 {
			float: right;
			padding: 5px 30px 5px 30px;
			margin-top: 2%;
			margin-left: 2%;
			text-align: justify;
			justify-content: center;
			color: #7E594C;
			background-color: #F1D5B4;
			font-size: 20px;
			border: 4px dotted white;
			border-radius: 50px;
			width: 48%;
			height: 10%;
}

img.star {
		width: 70%;
}

div.container {
			margin-top: 7%;
			margin-bottom: 6%;
			display: flex;
}

img.card1 {
		width: 28%;
}

img.card2 {
		width: 25%;
}

div.float-right {
				float: right;
}

div.float-left {
			float: left;
			width: 20%;
}

div.p {
	width: 100%;
	margin-top: 2%;
	display: flex;
}

p.perso {
		margin-left: 2%;
		margin-right: 2%;
		text-align: justify;
}

img.waddle {
		margin-left: 7%;
		width: 68%;
}

div.descri1 {
			margin-top: 1%;
			padding: 5px 30px 5px 30px;
			text-align: justify;
			color: #7E594C;
			background-color: #F1D5B4;
			font-size: 20px;
			border: 4px dotted white;
			border-radius: 50px;
			width: 65%;
			height: 10%;
}

div.descri2 {
		margin: 3% auto auto 3%;
		padding: 5px 20px 5px 20px;
		color: #7E594C;
		background-color: #F0C7AD;
		font-size: 20px;
		border: 4px dotted white;
		border-radius: 50px;
		width: 75%;
} 




